#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/guides/contributor/membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @open-telemetry/ebpf-profiler-maintainers @open-telemetry/ebpf-profiler-approvers

#####################################################
#
# List of interpreter code owners
#
#####################################################

# BEAM
interpreter/beam/ @open-telemetry/ebpf-profiler-approvers @GregMefford
support/ebpf/beam_tracer.ebpf.c @open-telemetry/ebpf-profiler-approvers @GregMefford

# Ruby
interpreter/ruby/ @open-telemetry/ebpf-profiler-approvers @dalehamel
support/ebpf/ruby_tracer.ebpf.c @open-telemetry/ebpf-profiler-approvers @dalehamel

#####################################################
#
# List of probes code owners
#
#####################################################

# OffCPU
probes/offcpu/ @open-telemetry/ebpf-profiler-approvers @florianl
support/ebpf/off_cpu.ebpf.c @open-telemetry/ebpf-profiler-approvers @florianl
