#####################################################
#
# List of approvers for this repository
#
#####################################################
#
# Learn about membership in OpenTelemetry community:
#  https://github.com/open-telemetry/community/blob/main/guides/contributor/membership.md
#
#
# Learn about CODEOWNERS file format:
#  https://help.github.com/en/articles/about-code-owners
#

* @open-telemetry/ebpf-profiler-maintainers @open-telemetry/ebpf-profiler-approvers

#####################################################
#
# List of BEAM interpreter code owners
#
#####################################################

# interpreter/beam/ @open-telemetry/ebpf-profiler-approvers @GregMefford
# support/ebpf/beam_tracer.ebpf.c @open-telemetry/ebpf-profiler-approvers @GregMefford
