name: Common environment setup

inputs:
  target_arch:
    description: 'Target architecture'
    required: false
    default: amd64

runs:
  using: composite
  steps:
    - name: Disable man-db
      shell: bash
      run: |
        echo "set man-db/auto-update false" | sudo debconf-communicate
        sudo dpkg-reconfigure man-db
    - name: Install dependencies (arm64)
      if: ${{ inputs.target_arch == 'arm64' }}
      shell: bash
      run: |
        # Ubuntu has ARM64 packages in an entirely different repo, so we can't just
        # `dpkg --add-architecture arm64` here: we have to add a custom sources.list first.
        sudo tee /etc/apt/sources.list.d/ubuntu.sources <<EOF > /dev/null
        Types: deb
        URIs: http://azure.archive.ubuntu.com/ubuntu/
        Suites: noble noble-updates noble-backports
        Components: main universe restricted multiverse
        Signed-By: /usr/share/keyrings/ubuntu-archive-keyring.gpg
        Architectures: amd64

        Types: deb
        URIs: http://azure.ports.ubuntu.com/ubuntu-ports/
        Suites: noble noble-updates noble-backports
        Components: main universe restricted multiverse
        Signed-By: /usr/share/keyrings/ubuntu-archive-keyring.gpg
        Architectures: arm64
        EOF

        sudo dpkg --add-architecture arm64
        sudo apt-get update -y
        sudo apt-get install -y gcc-aarch64-linux-gnu \
          libc6-arm64-cross qemu-user-binfmt libc6:arm64 \
          binutils-aarch64-linux-gnu
    - name: Set up Go
      uses: actions/setup-go@4dc6199c7b1a012772edbd06daecab0f50c9053c # v6.1.0
      with:
        go-version-file: go.mod
        cache-dependency-path: go.sum
      id: go
    - name: Install protoc
      uses: ./.github/workflows/protoc
