name: codespell
on:
  push:
    branches:
      - main
  pull_request:
permissions:
  contents: read
jobs:
  codespell:
    runs-on: ubuntu-latest
    steps:
      - name: Install codespell
        run: sudo apt-get install codespell
      - name: Checkout Repo
        uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3 # v6.0.0
      - name: Codespell
        run: make codespell
