name: codespell
on:
  push:
    branches:
      - main
  pull_request:
permissions:
  contents: read
jobs:
  codespell:
    runs-on: ubuntu-latest
    steps:
      - name: Install codespell
        run: sudo apt-get install codespell
      - name: Checkout Repo
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      - name: Codespell
        run: make codespell
