name: Collector Tests
on:
  workflow_dispatch:
  schedule:
    # Run every day at 3:15 AM.
    - cron: '15 3 * * *'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref_name }}
  cancel-in-progress: true

permissions:
  contents: read
  issues: write

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout Repo
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      - name: Set up environment
        uses: ./.github/workflows/env
      - name: Set up Go Stable
        uses: actions/setup-go@4b73464bb391d4059bd26b0524d20df3927bd417 # v6.3.0
        with:
          go-version: stable
      - name: Cache coredump modules
        uses: actions/cache@cdf6c1fa76f9f475f3d7449005a359c84ca0f306 # v5.0.3
        with:
          path: tools/coredump/modulecache
          key: coredumps-collector-${{ hashFiles('tools/coredump/testdata/*/*.json') }}
          restore-keys: |
            coredumps-collector
            coredumps-
      - name: Clone Collector
        run: |
          collector_path=/tmp/opentelemetry-collector
          git clone --depth=1 https://github.com/open-telemetry/opentelemetry-collector.git $collector_path
      - name: Setup replace statement
        run: |
          COLLECTOR_PATH=/tmp/opentelemetry-collector ./support/local-collector.sh
          go mod tidy
      - name: Tests
        run: make test-junit
      - name: Generate Issue
        if: failure()
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          go install go.opentelemetry.io/build-tools/issuegenerator@v0.28.1
          issuegenerator -path /tmp/testresults
