name: "Update builder docker image"

on:
  push:
    branches: ["main"]
    paths:
      - "Dockerfile"

permissions:
  contents: read

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    if: github.repository == 'open-telemetry/opentelemetry-ebpf-profiler'
    steps:
      - name: Checkout code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Login to Docker Hub
        uses: docker/login-action@184bdaa0721073962dff0199f1fb9940f07167d1 # v3.5.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@e468171a9de216ec08956ac3ada2f0791b6bd435 # v3.11.1
      - name: Set current timestamp tag
        id: tag
        run: |
          echo "tag=$(date +%Y%m%d%H%M)" >> $GITHUB_OUTPUT
      - name: Build and push
        uses: docker/build-push-action@263435318d21b8e681c14492fe198d362a7d2c83 # v6.18.0
        with:
          push: true
          file: Dockerfile
          platforms: linux/amd64,linux/arm64
          tags: otel/opentelemetry-ebpf-profiler-dev:latest,otel/opentelemetry-ebpf-profiler-dev:${{ steps.tag.outputs.tag }}
