name: "Update builder docker image"

on:
  push:
    branches: ["main"]
    paths:
      - "Dockerfile"
permissions:
  contents: read
jobs:
  build-and-push:
    runs-on: ubuntu-latest
    if: github.repository == 'open-telemetry/opentelemetry-ebpf-profiler'
    steps:
      - name: Checkout code
        uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
        with:
          persist-credentials: 'false'
      - name: Login to Docker Hub
        uses: docker/login-action@74a5d142397b4f367a81961eba4e8cd7edddf772 # v3.4.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}
      - name: Set up QEMU
        uses: docker/setup-qemu-action@29109295f81e9208d7d86ff1c6c12d2833863392 # v3.6.0
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@b5ca514318bd6ebac0fb2aedd5d36ec1b5c232a2 # v3.10.0
      - name: Set current timestamp tag
        id: tag
        run: |
          echo "tag=$(date +%Y%m%d%H%M)" >> $GITHUB_OUTPUT
      - name: Build and push
        uses: docker/build-push-action@14487ce63c7a62a4a324b0bfb37086795e31c6c1 # v6.16.0
        with:
          push: true
          file: Dockerfile
          platforms: linux/amd64,linux/arm64
          tags: otel/opentelemetry-ebpf-profiler-dev:latest,otel/opentelemetry-ebpf-profiler-dev:${{ steps.tag.outputs.tag }}
