name: "CI-EBPF"

on:
  push:
    branches: [main]
    paths:
      - support/ebpf/**
  pull_request:
    branches: ["**"]
    paths:
      - support/ebpf/**

permissions:
  contents: read

jobs:
  check-binary-blobs:
    name: Check for differences in the eBPF binary blobs
    runs-on: ubuntu-24.04
    container: otel/opentelemetry-ebpf-profiler-dev:latest@sha256:6ab9b5ff6c2a457be97a389887caf9f3cd5344f760fdab0101b9965236bbb2db
    defaults:
      run:
        shell: bash --login {0}
    steps:
      - name: Clone code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Hash binary blobs
        run: |
          sha256sum support/ebpf/tracer.ebpf.* > binary-blobs.hash
      - name: Rebuild eBPF blobs
        run: |
          rm support/ebpf/tracer.ebpf.*
          make amd64 -C support/ebpf
          make arm64 -C support/ebpf
      - name: Check for differences
        run: |
          if ! sha256sum --check binary-blobs.hash; then
            echo "Please rebuild and commit the updated binary blobs."
            exit 1
          fi
      - if: failure()
        uses: actions/upload-artifact@330a01c490aca151604b8cf639adc76d48f6c5d4 # v5.0.0
        with:
          name: binary-blobs
          path: support/ebpf/tracer.ebpf.*

