name: "CI-Rust"

on:
  push:
    branches: [main]
    paths:
      - rust-crates/**
  pull_request:
    branches: ["**"]
    paths:
      - rust-crates/**

permissions:
  contents: read

jobs:
  rust-test:
    name: Rust Tests (${{ matrix.target_arch }})
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        target_arch: [amd64, arm64]
    steps:
      - name: Clone code
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable
        with:
          targets: x86_64-unknown-linux-musl,aarch64-unknown-linux-musl
          toolchain: 1.77
      - name: Install protoc
        uses: ./.github/workflows/protoc
      - name: Tests
        run: make rust-tests
